# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfplan
crash.log
crash.*.log

# Terraform variable/secrets
*.tfvars
*.tfvars.json
!example.tfvars

# Environment
.env
.env.*

# Python
__pycache__/
*.py[cod]
.venv/
venv/
*.egg-info/

# Certificates / keys
*.pem
*.key
*.crt
*.csr


# IDE
.vscode/
.idea/

# OS
.DS_Store

# Logs
*.log

#keys
accesskey.md